<% provide(:title, "FutureAndhra.com - Home Page") %>
<!-- <h1>Homes Page</h1> -->

<div class='row' style="text-align: center"><h2>Over all</h2></div>
<div class='row-fluid'>
  <div class='span4'></div>
  <div class='span6'>
    <div id="piechart_overall" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_overall, 
          container: 'piechart_overall',
          title: ''  %>
  </div>
</div>

<hr>

<%# if current_user && current_user.is_admin? %>
  <div class='row' style="text-align: center"><h2>By Region (in the last 24 hours)</h2></div>
  <div class='row-fluid'>
    <div class='span4'>
      <div id="piechart_telangana_region" class="piechart"></div>
      <%= render 'common/piechart', 
            chart_data: @piechart_telangana_region, 
            container: 'piechart_telangana_region',
            title: 'People from Telangana'  %>
    </div>
    <div class='span4'>
      <div id="piechart_andhra_region" class="piechart"></div>
      <%= render 'common/piechart', 
            chart_data: @piechart_andhra_region, 
            container: 'piechart_andhra_region',
            title: 'People from Andhra'  %>
    </div>
    <div class='span4'>
      <div id="piechart_not_andhra_nor_telangana_region" class="piechart"></div>
      <%= render 'common/piechart', 
            chart_data: @piechart_not_andhra_nor_telangana_region, 
            container: 'piechart_not_andhra_nor_telangana_region',
            title: 'People Outside Andhra Pradesh'  %>
    </div>
  </div>
<%# end %>

<hr>

<div class='row' style="text-align: center"><h2>By Gender</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_gender_male" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_gender_data_male, 
          container: 'piechart_gender_male',
          title: 'Male'  %>
  </div>
  <div class='span6'>
    <div id="piechart_gender_female" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_gender_data_female, 
          container: 'piechart_gender_female',
          title: 'Female'  %>
  </div>
</div>

<hr>

<div class='row' style="text-align: center"><h2>By Country</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_country_india" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_country_india, 
          container: 'piechart_country_india',
          title: 'Within India'  %>
  </div>
  <div class='span6'>
    <div id="piechart_country_not_india" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_country_not_india, 
          container: 'piechart_country_not_india',
          title: 'Outside India'  %>
  </div>
</div>

<hr>

<div class='row' style="text-align: center"><h2>By State</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_state_andhra_pradesh" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_state_andhra_pradesh, 
          container: 'piechart_state_andhra_pradesh',
          title: 'People from Andhra Pradesh'  %>
  </div>
  <div class='span6'>
    <div id="piechart_state_not_andhra_pradesh" class="piechart"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_state_not_andhra_pradesh, 
          container: 'piechart_state_not_andhra_pradesh',
          title: 'People Outside Andhra Pradesh'  %>
  </div>
</div>

