<% provide(:title, "FutureAndhra.com - Home Page") %>
<!-- <h1>Homes Page</h1> -->

<div class='row' style="text-align: center"><h2>Over all</h2></div>
<div class='row-fluid'>
  <div class='span12'>
    <div id="piechart_overall" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_overall, 
          container: 'piechart_overall',
          title: 'Overall'  %>
  </div>
</div>


<div class='row' style="text-align: center"><h2>By Gender</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_gender_male" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_gender_data_male, 
          container: 'piechart_gender_male',
          title: 'Male'  %>
  </div>
  <div class='span6'>
    <div id="piechart_gender_female" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_gender_data_female, 
          container: 'piechart_gender_female',
          title: 'Female'  %>
  </div>
</div>


<div class='row' style="text-align: center"><h2>By Country</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_country_india" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_country_india, 
          container: 'piechart_country_india',
          title: 'Within India'  %>
  </div>
  <div class='span6'>
    <div id="piechart_country_not_india" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_country_not_india, 
          container: 'piechart_country_not_india',
          title: 'Outside India'  %>
  </div>
</div>


<div class='row' style="text-align: center"><h2>By State</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_state_andhra_pradesh" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_state_andhra_pradesh, 
          container: 'piechart_state_andhra_pradesh',
          title: 'People from Andhra Pradesh'  %>
  </div>
  <div class='span6'>
    <div id="piechart_state_not_andhra_pradesh" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_state_not_andhra_pradesh, 
          container: 'piechart_state_not_andhra_pradesh',
          title: 'People Outside Andhra Pradesh'  %>
  </div>
</div>

