<h1>Homes Page</h1>

<div class='row' style="text-align: center"><h2>Over all</h2></div>
<div class='row-fluid'>
  <div class='span12'>
    <div id="piechart_overall" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_overall, 
          container: 'piechart_overall',
          title: 'Overall'  %>
  </div>
</div>


<div class='row' style="text-align: center"><h2>By Gender</h2></div>
<div class='row-fluid'>
  <div class='span6'>
    <div id="piechart_gender_male" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_gender_data_male, 
          container: 'piechart_gender_male',
          title: 'Male'  %>
  </div>
  <div class='span6'>
    <div id="piechart_gender_female" style="width: 500px; height: 300px;"></div>
    <%= render 'common/piechart', 
          chart_data: @piechart_gender_data_female, 
          container: 'piechart_gender_female',
          title: 'Female'  %>
  </div>
</div>


<div class='row' style="text-align: center"><h2>By District</h2></div>

<div id="piechart_district" style="width: 500px; height: 300px;"></div>
<%= render 'common/piechart', 
      chart_data: @piechart_district_data, 
      container: 'piechart_district',
      title: 'By District'  %>

<div id="piechart_state" style="width: 500px; height: 300px;"></div>
<%= render 'common/piechart', 
      chart_data: @piechart_state_data, 
      container: 'piechart_state',
      title: 'By State'  %>

<div id="piechart_country" style="width: 500px; height: 300px;"></div>
<%= render 'common/piechart', 
      chart_data: @piechart_country_data, 
      container: 'piechart_country',
      title: 'By Country'  %>

