<p>
  <b>
    <% survey = current_user.survey %>
    You have voted for : <%= survey_pick(survey.pick) %> <br />
    Your <br />
    Gender: <%= survey.gender %><br />
    Year of birth: <%= survey.year_of_birth %><br />
    Country: <%= survey.country %><br />
    <% if survey.country == 'India' %>
      State: <%= survey.india_state %><br />
      <% if survey.india_state == 'Andhra Pradesh' %>
        AP District: <%= survey.ap_district %><br />
      <% end %>
    <% end %>
  </b>
</p>