<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><%= link_to 'Home', root_path %></li>
    <% if user_signed_in? %>
      <li style="padding-top: 8px"><b><%= display_logged_in_info %></b></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %><li>
      <% if current_user.is_admin? %>
        <li><%= link_to "Activities", admin_activities_path %><li>
      <% end %>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
  <p><%= link_to image_tag('fa2.png', width: '80'), root_path %></p>
</div>
