<!DOCTYPE html>
<html>
  <head>
    <title>Futureandhra</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">

      <div class="jumbotron" style="background-color: #eeeeee">
        <h1>Andhra Vs Telangana!</h1>
        <p class="lead">
          We have been collecting the opinion of the people regarding United Andhra or Separate Telangana and here is the information we've collected so far.
          <br />
          <b>Your opinion counts! Please vote and let your voice be heard.</b> (It only takes 20 secs.)
          <p>here is facebook like button</p>
        </p>
        <p>
          <%= link_to 'Vote by clicking here!', new_survey_path, class: 'btn btn-lg btn-success' %>
        </p>
      </div>

      <div class="content">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>

      <div class="footer">
        <p>&copy; WaltApps <%= Date.today.year %></p>        
      </div>
    </div>

  </body>
</html>
